body {
    margin:0;
    padding:0;
    display: flex;
	justify-content:center;
    align-items: center;
	
}
.terms-box{
    max-width:1 px;
    background-color: #111827;
    color: black;
    font-family: 'Poppins', sans-serif;
    padding: 60px 60px;
	font-size:38px;
	margin-top: 5%;
}

.terms-text{
	padding: 20px 20px;
	height:400px;
	overflow: auto;
	font-size:20px;
	font-weight:500;
	color: #cfcfcf;
}
	
.terms-text::-webkit-Scrollbar{
	width: 5px;
	background-color: white;
}

.terms-text::-webkit-scrollbar-thumb{
	background-color:#324c9c;
}

body{
	height: 0%;

	background-color: black;
	margin:0;
	padding:0;
	justify-content:center;
	align-items: center;
}
