*{
	font-family: 'Poppins', sans-serif;
	color: #fff;
}

html {
	height: 100%;
}

body{
	background-image: url("https://bit.ly/3Wrju2u");
	width: 100%;
	
}
/*Header*/

 ul {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover:not(.active) {
	color: yellow;
  }
  
.HomeSignup:hover{
	scale:1.05;
	background-color: grey
	
}

/*Subscribe*/
  
.subscribe {
	display:flex;
	align-items: right;
	float: right;
	margin-bottom: 0px;
	
  }
  
  .email {
	min-height: 30px;
	max-width: 150px;
	padding: 0 1rem;
	color: #ffffff;
	font-size: 13px;
	border: 1px solid #5e4dcd;
	border-radius: 6px 0 0 6px;
	background-color: transparent;
  }
  
  .emailsubmit {
	min-height: 20px;
	padding: .5em 1em;
	border: none;
	border-radius: 0 6px 6px 0;
	background-color: #5e4dcd;
	color: #ffffff;
	font-size: 13px;
	cursor: pointer;
	transition: background-color .3s ease-in-out;
  }
  
  .emailsubmit:hover {
	background-color: #5e5dcd;
  }
  
  .email:focus, .email:focus-visible {
	border-color: #3898EC;
	outline: none;
  }

/*Footer*/

footer {
	margin-top: auto;
	text-align: center;
	padding: 0.5px;
	background-color:rgb(50, 50, 50);
	color: white;
	display: block;
	width:100%;
	position: fixed;
	bottom: 0;
	margin-left:-8px;
  }

  .ftrlogo {
	float: left;
	margin-top: 20px;
    margin-bottom: 20px;
  }


